body {
    margin: 0px;
    padding: 20px;
}

@media (max-width: 600px) {
    
}

.tabela1, .tabela2 {
    width: 100%;
    max-width: 100%;
}

.coisotabela1, .coisotabela2 {
    font-size: 20px;
}

.tabela1, .coisotabela1, th, .tabela2, .coisotabela2 {
    border: 1px solid black;
    text-align: center;
    font-family: monospace;
}

.tabela1 {
    margin-bottom: 50px;
}

.formulario {
    padding-bottom: 100px;
}

.textoform, .textoform1 {
    font-family: monospace;
    font-size: 20px;
}

input, .textao {
    width: 250px;
}

input, textarea {
    margin-bottom: 20px;
}

.bigbrain {
    width: 100%;
    max-width: 100%;

}
